/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
  max-width: 500px;
  font-family: Arial, sans-serif;
  margin: 10px auto;
  padding: 0;
}

.main {
  padding: 5px;
  display: flex;
  align-items: stretch;
}

.sessions{
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
}
a{
  width: calc(100% - 20px);
  display: block;
  text-decoration: none;
  background-color: #fff;
  padding: 5px;
  color: black;
}
a:hover, .link:hover, button:hover, .link-book:hover {
  border: 5px;
  background-color: #dcffff;
  color: blue;
}

.row {
  background: #fff;
  display: flex;
  margin: 5px auto;
  align-items: center;
  padding: 5px;
}
.row_src {
  display: flex;
  margin: 5px auto;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
}

.link-book {
  width: calc(50% - 10px);
  padding: 5px;
  border: 1px dashed #ccc;
  display: block;
  margin: 0 auto;
  color: black;
  text-align: center;
}
.icon {
  max-width: 25px;
  height: auto;
  margin-right: 5px;
}

textarea{
  padding: 5px;
  width: calc(100% - 20px);
  height: 80px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  display: block;
  margin: 10px auto;
}

fieldset {
  width: calc(100% - 20px);
  border: 1px dashed #ccc;
  display: flex;
  justify-content: center;
  margin: 15px auto 15px;
}

button{
  width: calc(30%);
} 

input {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
  height: 30px;
}

/* Chỉ áp dụng màu nền trên điện thoại (màn hình dưới 768px) */
@media (max-width: 768px) {
  body {
    background: repeating-linear-gradient(
        90deg,
        rgb(255, 255, 255) 0px, rgb(255, 255, 255) 1px,
        rgb(240, 240, 240) 0px, rgb(240, 240, 240) 10px
    );}
    button, input, img {
      border-radius: 0;
  }
  input, textarea {
    font-size: 16px; /* Safari không tự động zoom nếu font ≥ 16px */
}
}

.select {
  display: flex;
  flex-direction: column;
}

.select label {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  transition: 0.3s ease;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 auto 15px;
}

.select label:hover {
  background-color: #f5f5f5;
  border-color: #999;
}

.select input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #007bff; /* Màu radio khi chọn (hỗ trợ trên Chrome, Edge) */
}
